@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    a {
        text-decoration: none;
    }
}

body {
    background: #eaeaea;
    color: #222;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a {
    color: #f56600;
}

.logo {
    font-size: 25px;
    color: #222;
    font-weight: 600;
}

span {
    color: #1743e3;
}

.navbar a {
    font-size: 18px;
    color: #222;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    transform: rotate(45deg);
    transition: .4s;
}

.social-media a:hover {
    border: 2px solid #fff;
}

.social-media a i {
    font-size: 25px;
    color: #fff;
    transform: rotate(-45deg);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: #1743e3;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
}

.home-content h4 {
    font-size: 18px;
    margin: 15px 0 30px;
}

.btn {
    display: inline-block;
    padding: 13px 34px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 17px;
    color: #eaeaea;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}

.home-img {
    position: relative;
    right: -8%;
    width: 440px;
    height: 440px;
    transform: rotate(45deg);
}

.home-img .bros-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #1743e3;
}

.home-img .bros-img img {
    position: absolute;
    top: -20px;
    left: -260px;
    max-width: 710px;
    transform: rotate(-45deg);
}